
.header
{
    background-color: rgb(56, 0, 196);
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  }

.sub-head {
  background-color: rgb(137, 34, 137);
  color:white;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .list {
    text-align: center;
  }

   